<h2 mat-dialog-title class="dialog-title">
  <span>{{ configDetails?.ConfigName }}</span>
  <button mat-icon-button class="close-icon" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<div mat-dialog-content class="dialog-content" *ngIf="configDetails">
  <div *ngFor="let service of configDetails.Services" class="service-container">
    <h3>Service: {{ service.ServiceName }}</h3>

    <!-- Table for each service -->
    <table mat-table [dataSource]="service.Usage">
      <!-- Header Row -->
      <ng-container matColumnDef="processName">
        <th mat-header-cell *matHeaderCellDef>PROCESS</th>
        <td mat-cell *matCellDef="let usage">{{ usage.ProcessName }}</td>
      </ng-container>

      <ng-container matColumnDef="definition">
        <th mat-header-cell *matHeaderCellDef>DEFINITION</th>
        <td mat-cell *matCellDef="let usage">{{ usage.Definition }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>CREATED AT</th>
        <td mat-cell *matCellDef="let usage">{{ usage.createdAt | date: 'short' }}</td>
      </ng-container>

      <!-- Table Header and Row -->
      <tr mat-header-row *matHeaderRowDef="['processName', 'definition', 'createdAt']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['processName', 'definition', 'createdAt'];"></tr>
    </table>
  </div>
</div>
